.container {
    margin: 30px;
}

.title {
    padding: 5px 0;
    font-size: 20px;
    font-weight: 500;
}

.message {
    // padding: ;

    &__item {
        padding: 5px 0;
        font-size: 16px;
        font-weight: 200;
    }
}

.grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 1fr;;
}